.footer-creative-wrapper
  .footer-creative
    .footer-creative__logo.logo
      .logo-m.logo__icon.logo__icon--colored
      .logo-m.logo__text.logo__text--toxin
    .footer-creative__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    .footer-creative__social-buttons.social-buttons-bar
      .social-buttons-bar__icon.social-buttons-bar__icon--twitter
      .social-buttons-bar__icon.social-buttons-bar__icon--facebook
      .social-buttons-bar__icon.social-buttons-bar__icon--instagram