body {
  background: #E5E5E5;
}

.logo-svg {
  width: 3rem;
  position: absolute;
  width: 48px;
  height: 48px;
  left: 30px;
  top: 30px;
}

.rectangle2 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 150px;
  top: 145px;
  background-color: #1F2041;
  border-radius: 6px;
}

.rectangle21 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 150px;
  top: 235px;
  background: rgba(31, 32, 65, 0.75);
  border-radius: 6px;
}

.rectangle22 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 149.74px;
  top: 324.56px;
  background: rgba(31, 32, 65, 0.5);
  border-radius: 6px;
}

.rectangle23 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 150px;
  top: 415px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 6px;
}

.rectangle24 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 150px;
  top: 505px;
  background: rgba(31, 32, 65, 0.05);
  border-radius: 6px;
}

.rectangle25 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 150px;
  top: 595px;
  background: #BC9CFF;
  border-radius: 6px;
}

.rectangle26 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 150px;
  top: 685px;
  background: #6FCF97;
  border-radius: 6px;
}

.darkshade100 {
  position: absolute;
  width: 159px;
  height: 57px;
  left: 260px;
  top: 152px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #1F2041;
}

.darkshade75 {
  position: absolute;
  width: 150px;
  height: 57px;
  left: 260px;
  top: 242px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #1F2041;
}

.darkshade50 {
  position: absolute;
  width: 151px;
  height: 57px;
  left: 260px;
  top: 332px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #1F2041;
}

.darkshade25 {
  position: absolute;
  width: 149px;
  height: 57px;
  left: 260px;
  top: 422px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #1F2041;
}

.darkshade5 {
  position: absolute;
  width: 139px;
  height: 58px;
  left: 260px;
  top: 511px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #1F2041;
}

.purple {
  position: absolute;
  width: 82px;
  height: 58px;
  left: 260px;
  top: 601px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #1F2041;
}

.green {
  position: absolute;
  width: 77px;
  height: 57px;
  left: 260px;
  top: 692px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #1F2041;
}

.tag1 {
  position: absolute;
  width: 29px;
  height: 30px;
  left: 854px;
  top: 145px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
}

.tag2 {
  position: absolute;
  width: 27px;
  height: 24px;
  left: 856px;
  top: 255px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
}

.tag3 {
  position: absolute;
  width: 17px;
  height: 15px;
  left: 866px;
  top: 353px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.25);
}

.tag4 {
  position: absolute;
  width: 37px;
  height: 24px;
  left: 846px;
  top: 418px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
}

.text1 {
  position: absolute;
  width: 336px;
  height: 60px;
  left: 913px;
  top: 145px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
}

.text2 {
  position: absolute;
  width: 282px;
  height: 48px;
  left: 913px;
  top: 255px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
}

.text3 {
  position: absolute;
  width: 186px;
  height: 15px;
  left: 913px;
  top: 353px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.text4 {
  position: absolute;
  width: 301px;
  height: 48px;
  left: 913px;
  top: 418px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
