//-include mixin-textfield.pug
.container
  .item01
    .item2
      +textfield({textfieldMod: 'standart, moved-top20', leftText: 'text field', rightText: 'default', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'default', placeholder: 'Email'})
    .item2
      +textfield({textfieldMod: 'standart, moved-top20', leftText: 'text field', rightText: 'hover/focus', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'hover', placeholder: 'This is pretty awesome'})
    .item2
      +textfield({textfieldMod: 'standart, moved-top20', leftText: 'dropdown', rightText: 'default', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'dark, dropdown', placeholder: 'Сколько гостей', iconModsClass: 'true'})
    .item2
      +textfield({textfieldMod: 'standart, moved-top20', leftText: 'masked text field', rightText: 'default', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'default', placeholder: 'ДД.ММ.ГГГГ'})
    .item3
      +textfield({textfieldMod: 'small, moved-bottom20', leftText: 'date dropdown', inputMod: 'dark, dropdown, small', placeholder: 'ДД.ММ.ГГГГ', iconMod: 'small'})
    .item3.item3--right
      +textfield({textfieldMod: 'small, right, upper87', leftText: 'date dropdown', inputMod: 'dark, dropdown, small', placeholder: '19.08.2019', iconMod: 'small'})
    .item2
      +textfield({textfieldMod: 'medium, moved-bottom40', leftText: 'filter date dropdown', inputMod: 'dark, dropdown, medium', placeholder: '19 авг - 23 авг', iconMod: 'medium'})
    .item2
      +textfield({textfieldMod: 'medium, moved-bottom40', leftText: 'subscription text field', inputMod: 'default, dropdown, medium', placeholder: 'Email', iconMod: 'medium, arrow'})
    .item2
      .textfield-dropdown-wrapper
        +textfield({textfieldMod: 'medium', leftText: 'dropdown', rightText: 'default', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'dark, dropdown, medium, dropdown-border', placeholder: '2 спальни, 2 кровати...', iconMod: 'medium'})
    .item2
      +textfield({textfieldMod: 'medium, moved-bottom20', leftText: 'dropdown', rightText: 'expanded', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'dark, dropdown, medium, dropdown-border, dropdown-border-color', placeholder: '2 спальни, 2 кровати...', inputId: 'dropdownText', iconMod: 'medium', id: 'dropdown'})
      .dropdown-expanded__rectangle.dropdown-form
        +dropdownForm({titleText: 'спальни', circleNumber: '2', circlePlusMod: 'moved-left'})
        +dropdownForm({titleText: 'кровати', circleNumber: '2', circlePlusMod: 'moved-left'})
        +dropdownForm({titleText: 'ванные комнаты', circleNumber: '0', circleMinusMod: 'disabled', circlePlusMod: 'moved-left'})
    .item2
      .expandable-checkbox-list-wrapper
        .expandable-checkbox-list
          .expandable-checkbox-list__base-form
            span.expandable-checkbox-list__text expandable checkbox list
            .expandable-checkbox-list__icon
    .item2
      .expandable-checkbox-list-wrapper1
        .expandable-checkbox-list
          .expandable-checkbox-list__base-form.expandable-checkbox-list__base-form--large
            span.expandable-checkbox-list__text expandable checkbox list
            .expandable-checkbox-list__icon.expandable-checkbox-list__icon--expanded.expandable-checkbox-list__icon--moved-bottom
            .expandable-checkbox-list__checkbox-form.checkbox-form
              +checkboxForm({value: 'breakfast', name: 'breakfast', text: 'Завтрак'})
              +checkboxForm({value: 'table', name: 'table', text: 'Письменный стол', checked: 'checked'})
              +checkboxForm({value: 'chair', name: 'chair', text: 'Стул для кормления', checked: 'checked'})
              +checkboxForm({value: 'bed', name: 'bed', text: 'Кроватка', checked: 'checked'})
              +checkboxForm({value: 'tv', name: 'tv', text: 'Телевизор'})
              +checkboxForm({value: 'shampoo', name: 'shampoo', text: 'Шампунь'})
    .item2 
      .icon-text-list
        .icon-text-list__base-form
          .icon-text-list__icon.icon-text-list__icon--insert-emoticon-icon
          .icon-text-list__text Комфорт
          .icon-text-list__text.icon-text-list__text--modded.icon-text-list__text--moved-bottom Шумопоглощающие стены
          .icon-text-list__rectangle
        .icon-text-list__base-form.icon-text-list__base-form--moved-top
          .icon-text-list__icon.icon-text-list__icon--location-city-icon
          .icon-text-list__text Удобство
          .icon-text-list__text.icon-text-list__text--modded.icon-text-list__text--moved-bottom Окно в каждой из спален
          .icon-text-list__rectangle 
  .item02 
    .item2 
      .checkbox-buttons
        .checkbox-buttons__base-form
          .checkbox-buttons__text Checkbox Buttons
            .checkbox-buttons__group
              label
                input(class= 'checkbox-buttons__group-input', type= 'checkbox', value= 'smoke', name= 'smoke')
                span.checkbox-buttons__group-text Можно курить
            .checkbox-buttons__group
              label
                input(class= 'checkbox-buttons__group-input', type= 'checkbox', value= 'pet', name= 'pet', checked)
                span.checkbox-buttons__group-text Можно с питомцами
            .checkbox-buttons__group
              label
                input(class= 'checkbox-buttons__group-input', type= 'checkbox', value= 'guest', name= 'guest', checked)
                span.checkbox-buttons__group-text Можно пригласить гостей (до 10 человек)
    .item2
      .radio-button-wrapper
        .radio-button__base-form 
          span.radio-button__header Radio Buttons
          .radio-button
            label
              input(type='radio', class='radio-button__circle', name='radio-button', checked)
              span(class='radio-button__text radio-button__text--moved-right component__text') Мужчина
            label
              input(type='radio', class='radio-button__circle', name='radio-button')
              span(class='radio-button__text component__text') Женщина
    .item2
      .toggle-button__base-form 
        span.toggle-button__header Toggle
          .toggle-container
            .toggle-button
              label
                input(type='checkbox', class='toggle-button__input', checked)
                span.toggle-button__text Получать спецпредложения
          .toggle-container
            .toggle-button
              label
                input(type='checkbox', class='toggle-button__input')
                span.toggle-button__text Получать спецпредложения
    .item2
      .like-button
        +text({main: 'like-button__text', title: 'like button'})
        .content
          input(type='checkbox', class='like-button__rectangle')
          .like-button__heart
          .like-button__count_uncolored 2
          .like-button__count_colored 2
        .content-unchecked
          input(type='checkbox', class='like-button__rectangle', checked)
          .like-button__heart
          .like-button__count_uncolored 12
          .like-button__count_colored 12
    .item2
      .rate-button
        +text({main: 'rate-button__text', title: 'rate button'})
        fieldset.stars
        .rating_stars
          input(class= 'rating_star' type='radio', value='1', name= '1star')
          input(class= 'rating_star' type='radio', value='2', name= '2star')
          input(class= 'rating_star' type='radio', value='3', name= '3star')
          input(class= 'rating_star' type='radio', value='4', name= '4star', checked)
          input(class= 'rating_star' type='radio', value='5', name= '5star')
        .star-5-checked
          fieldset.stars
          .rating_stars
            input(class= 'rating_star' type='radio', value='1', name= '1star')
            input(class= 'rating_star' type='radio', value='2', name= '2star')
            input(class= 'rating_star' type='radio', value='3', name= '3star')
            input(class= 'rating_star' type='radio', value='4', name= '4star')
            input(class= 'rating_star' type='radio', value='5', name= '5star', checked)
    .item2
      .dropdown-expanded-guest-wrapper
        .dropdown-expanded-guest
          .dropdown-expanded-guest__base-form
            span.dropdown-expanded-guest__header dropdown
            input(class= 'dropdown-expanded-guest__input', type= 'text', placeholder= 'Сколько гостей')
            .dropdown-expanded-guest__icon
            .dropdown-expanded-guest__rectangle
              .row-group
                span.dropdown-expanded-guest__text взрослые 
                .guest-group.dropdown-expanded-guest__group
                  .guest-group__circle.guest-group__circle--disabled
                    span.guest-group__text.guest-group__text--disabled -
                  span.guest-group__text-number 0
                  .guest-group__circle.guest-group__circle--moved-left
                    span.guest-group__text +
              .row-group
                span.dropdown-expanded-guest__text дети 
                .guest-group.dropdown-expanded-guest__group
                  .guest-group__circle.guest-group__circle--disabled
                    span.guest-group__text.guest-group__text--disabled -
                  span.guest-group__text-number 0
                  .guest-group__circle.guest-group__circle--moved-left
                    span.guest-group__text +
              .row-group
                span.dropdown-expanded-guest__text младенцы
                .guest-group.dropdown-expanded-guest__group
                  .guest-group__circle.guest-group__circle--disabled
                    span.guest-group__text.guest-group__text--disabled -
                  span.guest-group__text-number 0
                  .guest-group__circle.guest-group__circle--moved-left
                    span.guest-group__text +
              a.dropdown-expanded-guest__button применить
//-.textfield-wrapper1
    +textfield({textfieldMod: 'standart, moved-top20', leftText: 'text field', rightText: 'default', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'default', placeholder: 'Email'})
    +textfield({textfieldMod: 'standart, moved-top20', leftText: 'text field', rightText: 'hover/focus', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'hover', placeholder: 'This is pretty awesome'})
    +textfield({textfieldMod: 'standart, moved-top20', leftText: 'dropdown', rightText: 'default', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'dark, dropdown', placeholder: 'Сколько гостей', iconModsClass: 'true'})
    +textfield({textfieldMod: 'standart, moved-top20', leftText: 'masked text field', rightText: 'default', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'default', placeholder: 'ДД.ММ.ГГГГ'})
    +textfield({textfieldMod: 'small, moved-bottom20', leftText: 'date dropdown', inputMod: 'dark, dropdown, small', placeholder: 'ДД.ММ.ГГГГ', iconMod: 'small'})
    +textfield({textfieldMod: 'small, right, upper67', leftText: 'date dropdown', inputMod: 'dark, dropdown, small', placeholder: '19.08.2019', iconMod: 'small'})
    +textfield({textfieldMod: 'medium, moved-bottom40', leftText: 'filter date dropdown', inputMod: 'dark, dropdown, medium', placeholder: '19 авг - 23 авг', iconMod: 'medium'})
    +textfield({textfieldMod: 'medium, moved-bottom40', leftText: 'subscription text field', inputMod: 'default, dropdown, medium', placeholder: 'Email', iconMod: 'medium, arrow'})
//-.textfield-wrapper
  +textfield({textfieldMod: 'standart, moved-top20', leftText: 'text field', rightText: 'default', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'default', placeholder: 'Email'})
  +textfield({textfieldMod: 'standart, moved-top20', leftText: 'text field', rightText: 'hover/focus', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'hover', placeholder: 'This is pretty awesome'})
  +textfield({textfieldMod: 'standart, moved-top20', leftText: 'dropdown', rightText: 'default', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'dark, dropdown', placeholder: 'Сколько гостей', iconModsClass: 'true'})
  +textfield({textfieldMod: 'standart, moved-top20', leftText: 'masked text field', rightText: 'default', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'default', placeholder: 'ДД.ММ.ГГГГ'})
  +textfield({textfieldMod: 'small, moved-bottom20', leftText: 'date dropdown', inputMod: 'dark, dropdown, small', placeholder: 'ДД.ММ.ГГГГ', iconMod: 'small'})
  +textfield({textfieldMod: 'small, right', leftText: 'date dropdown', inputMod: 'dark, dropdown, small', placeholder: '19.08.2019', iconMod: 'small'})
  +textfield({textfieldMod: 'medium, moved-bottom40', leftText: 'filter date dropdown', inputMod: 'dark, dropdown, medium', placeholder: '19 авг - 23 авг', iconMod: 'medium'})
  +textfield({textfieldMod: 'medium, moved-bottom40', leftText: 'subscription text field', inputMod: 'default, dropdown, medium', placeholder: 'Email', iconMod: 'medium, arrow'})
  .textfield-dropdown-wrapper
  +textfield({textfieldMod: 'medium', leftText: 'dropdown', rightText: 'default', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'dark, dropdown, medium, dropdown-border', placeholder: '2 спальни, 2 кровати...', iconMod: 'medium'})
  +textfield({textfieldMod: 'medium, moved-bottom20', leftText: 'dropdown', rightText: 'expanded', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'dark, dropdown, medium, dropdown-border, dropdown-border-color', placeholder: '2 спальни, 2 кровати...', inputId: 'dropdownText', iconMod: 'medium', id: 'dropdown'})
  .dropdown-expanded__rectangle.dropdown-form
    +dropdownForm({titleText: 'спальни', circleNumber: '2', circlePlusMod: 'moved-left'})
    +dropdownForm({titleText: 'кровати', circleNumber: '2', circlePlusMod: 'moved-left'})
    +dropdownForm({titleText: 'ванные комнаты', circleNumber: '0', circleMinusMod: 'disabled', circlePlusMod: 'moved-left'})
