.bullet-list
  +text({main: 'bullet-list__text', title: 'bullet-list'})
  ul
    li
      h3 Нельзя с питомцами
    li
      h3 Без вечеринок и мероприятий
    li
      h3 Время прибытия — после 13:00, а выезд до 12:00