.checkbox-buttons
  .checkbox-buttons__base-form
    .checkbox-buttons__text Checkbox Buttons
      .checkbox-buttons__group
        label
          input(class= 'checkbox-buttons__group-input', type= 'checkbox', value= 'smoke', name= 'smoke')
          span.checkbox-buttons__group-text Можно курить
      .checkbox-buttons__group
        label
          input(class= 'checkbox-buttons__group-input', type= 'checkbox', value= 'pet', name= 'pet', checked)
          span.checkbox-buttons__group-text Можно с питомцами
      .checkbox-buttons__group
        label
          input(class= 'checkbox-buttons__group-input', type= 'checkbox', value= 'guest', name= 'guest', checked)
          span.checkbox-buttons__group-text Можно пригласить гостей (до 10 человек)