//out: filter-date-dropdown.html, pretty: true

include mixin-input.pug
include mixin-text.pug

.filter-date-dropdown
    +text({main: 'filter-date-dropdown__text', title: 'filter date dropdown'})
    +input({class: 'filter-date-dropdown__input', type: 'text', value: '19 авг - 23 авг'})
