doctype html
html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css", href="form-elements-styles.css")
    title Form Elements
  body(class='page')
    include mixin-text.pug
    include mixin-dropdown-form.pug
    include mixin-checkbox-form.pug
    include mixin-textfield.pug
    include ../../../content/blocks/logo/main-logo.pug
    //-include page.pug
    //-include textfield.pug //main
    include page-tex.pug
    include page-exp-check.pug
    include page-icon-tex.pug
    include page-checkbox.pug
    include page-radio.pug
    include page-toggle.pug
    include page-like.pug
    include page-rate.pug
    include page-exp-drop-guest.pug
    include page-rich-checkbox.pug