doctype html
html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css", href="form-elements-styles.css")
    link(href='dist/css/datepicker.min.css', rel='stylesheet', type='text/css')

    link(rel='apple-touch-icon', sizes='180x180', href='dist/src/content/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='dist/src/content/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='dist/src/content/favicon/favicon-16x16.png')
    link(rel='manifest', href='dist/src/content/favicon/site.webmanifest')
    link(rel='mask-icon', href='dist/src/content/favicon/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='theme-color', content='#ffffff')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='dist/js/datepicker.min.js')
    script(src='dist/js/i18n/datepicker.en.js')
    title Form Elements

  body(class='page')
    include mixin-text.pug
    include mixin-dropdown-form.pug
    include mixin-input-form.pug
    include ../../../content/mixins/mixin-button/mixin-button.pug
    //-include mixin-textfield.pug
    include form-elements-block.pug
    include ../../../content/blocks/logo/main-logo.pug
    //-include page.pug
    include input-icon.pug
    //-include textfield.pug //main
    //-include page-tex.pug
    //-.datepicker-here.datepicker-wrapper(type='text', data-language='en')
    //-.datepicker-here.datepicker-wrapper1(type='text', data-range='true', data-multiple-dates-separator=' - ', data-language='en')
    //-include page-exp-check.pug
    //-include page-icon-tex.pug
    //-include page-checkbox.pug
    //-include page-radio.pug
    //-include page-toggle.pug
    //-include page-like.pug
    //-include page-rate.pug

    include mixin-page-exp-drop-guest.pug
    //-include page-exp-drop-guest.pug

    //-include page-rich-checkbox.pug
    
    //-include form-elements-deploy.pug

    .wrapper.wrapper--moved-bottom
      +input-icon({ groupClass: 'textfield1', titleText: 'text field', withState: 'true', stateMod: 'default, moved-text', stateText: 'default', isTextOpacity: 'true', type: 'text', placeholder: 'Email'})
    .wrapper
      +input-icon({ groupClass: 'textfield1', titleText: 'text field', withState: 'true', stateMod: 'default, moved-text', stateText: 'hover/focus', type: 'text', placeholder: 'This is pretty awesome', isFontModded: 'true'})
    .wrapper
      +input-icon({ groupClass: 'textfield1', titleText: 'dropdown', withState: 'true', stateMod: 'default, moved-text', stateText: 'default', stateId: 'moddedStateText', inputId: 'dropdownInput1', type: 'text', placeholder: 'Сколько гостей', isFontModded: 'true', isIcon: 'true', buttonId: 'dropdown-activator', iconName: "expand_more"})
      .dropdown-expanded-guest__rectangle.deploy-wrapper
        +exp-drop({rowText: 'взрослые', number: '0'})
        +exp-drop({rowText: 'дети', number: '0'})
        +exp-drop({rowText: 'младенцы', number: '0', isButtonApply: 'true'})
    .wrapper
      +input-icon({ groupClass: 'textfield1', titleText: 'masked text field', withState: 'true', stateMod: 'default, moved-text', stateText: 'default', isTextOpacity: 'true', type: 'text', placeholder: 'ДД.ММ.ГГГГ', isFontModded: 'true'})
    .wrapper.wrapper--small.wrapper--moved-bottom40
      +input-icon({ groupClass: 'textfield1', titleText: 'date dropdown', isCalendar: 'true', type: 'text', placeholder: 'ДД.ММ.ГГГГ', isIcon: 'true', iconName: "expand_more"})(lang='en')
    .wrapper.wrapper--small.wrapper--moved-right
      +input-icon({ groupClass: 'textfield1', titleText: 'date dropdown', isCalendar: 'true', type: 'text', placeholder: '19.08.2019', isFontModded: 'true', isIcon: 'true', iconName: "expand_more"})(lang='en')
    .wrapper.wrapper--medium.wrapper--moved-bottom40
      +input-icon({ groupClass: 'textfield1', titleText: 'filter date dropdown', isCalendar: 'true', type: 'text', placeholder: '19 авг - 23 авг', isFontModded: 'true', isIcon: 'true', iconName: "expand_more"})(range='true', separator=" - ", lang='en')
    .wrapper.wrapper--medium.wrapper--moved-bottom40
      +input-icon({ groupClass: 'textfield1', titleText: 'subscription text field', isTextOpacity: 'true', type: 'text', placeholder: 'Email', isFontModded: 'true', isIcon: 'true', iconName: "arrow_forward", isIconColored: 'true'})
    .wrapper.wrapper--medium.wrapper--moved-bottom100
      +input-icon({ groupClass: 'textfield1', titleText: 'dropdown', withState: 'true', stateMod: 'default, moved-text', stateText: 'default', stateId: 'moddedStateText', isDropdown: 'true', type: 'text', placeholder: '2 спальни, 2 кровати...', isFontModded: 'true', isIcon: 'true', buttonId: 'dropdown', iconName: "expand_more"})
    .wrapper.wrapper--medium
      +input-icon({ groupClass: 'textfield1', titleText: 'dropdown', withState: 'true', stateMod: 'default, moved-text', stateText: 'expanded', stateId: 'moddedStateText', isDropdown: 'true', type: 'text', placeholder: '2 спальни, 2 кровати...', isFontModded: 'true', isIcon: 'true', buttonId: 'dropdown', iconName: "expand_more"})
      .dropdown-expanded__rectangle.dropdown-form.dropdown-wrapper
        +dropdownForm({titleText: 'спальни', circleNumber: '2', circlePlusMod: 'moved-left'})
        +dropdownForm({titleText: 'кровати', circleNumber: '2', circlePlusMod: 'moved-left'})
        +dropdownForm({titleText: 'ванные комнаты', circleNumber: '0', circleMinusMod: 'disabled', circlePlusMod: 'moved-left'})
    include page-exp-check.pug
    include page-icon-tex.pug

    include page-checkbox.pug
    include page-radio.pug
    include page-toggle.pug
    include page-like.pug
    include page-rate.pug

    include page-exp-drop-guest.pug
    include page-rich-checkbox.pug

    include page-feedback-message.pug
    include range-slider.pug
    include buttons.pug
    include button-pay.pug
    include pagination.pug

    .wrapper.wrapper-drop
      +input-icon({ groupClass: 'textfield1', titleText: 'dropdown', withState: 'true', stateMod: 'default, moved-text', stateText: 'default', stateId: 'moddedStateText', inputId: 'dropdownInput1', type: 'text', placeholder: 'Сколько гостей', isFontModded: 'true', isIcon: 'true', buttonId: 'dropdown-activator', iconName: "expand_more"})
      .dropdown-expanded-guest__rectangle.deploy-wrapper
        +exp-drop({rowText: 'взрослые', number: '2'})
        +exp-drop({rowText: 'дети', number: '1'})
        +exp-drop({rowText: 'младенцы', number: '0', isButtonApply: 'true'})

    include bullet-list.pug