doctype html
html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css", href="form-elements-styles.css")
    title Form Elements
  body(class='page')
    include mixin-text.pug
    include mixin-dropdown-form.pug
    include mixin-checkbox-form.pug
    include mixin-textfield.pug
    include ../../../content/blocks/logo/main-logo.pug
    include page.pug
    //-include textfield.pug //main
    //-include date-dropdown.pug
    //-include filter-date-dropdown.pug
    //-include subscription-text-field.pug
    //-include dropdown.pug
    //-include expandable-checkbox-list.pug //modded
    //-include icon-text-list.pug //modded
    //-include checkbox-buttons.pug //modded
    //-include radio-buttons.pug //modded
    //-include toggle-button.pug //modded
    //-include like-button.pug //modded
    //-include rate-button.pug //modded
    //-include dropdown-expanded-guest.pug //modded
    //-include rich-checkbox-buttons.pug 
