.expandable-checkbox-list-wrapper
  .expandable-checkbox-list
    .expandable-checkbox-list__base-form
      .expandable-checkbox-list__text expandable checkbox list
      .expandable-checkbox-list__icon
  .expandable-checkbox-list
    .expandable-checkbox-list__base-form.expandable-checkbox-list__base-form--large.expandable-checkbox-list__base-form--bottom20
      .expandable-checkbox-list__text expandable checkbox list
      .expandable-checkbox-list__icon.expandable-checkbox-list__icon--expanded.expandable-checkbox-list__icon--moved-bottom
      .expandable-checkbox-list__checkbox-form.checkbox-form
        +checkboxForm({groupClass: 'checkbox-form__checkbox-group', inputClass: 'checkbox-form__input', spanClass: 'checkbox-form__text', value: 'breakfast', name: 'breakfast', text: 'Завтрак'})
        +checkboxForm({groupClass: 'checkbox-form__checkbox-group', inputClass: 'checkbox-form__input', spanClass: 'checkbox-form__text', value: 'table', name: 'table', text: 'Письменный стол', checked: 'checked'})
        +checkboxForm({groupClass: 'checkbox-form__checkbox-group', inputClass: 'checkbox-form__input', spanClass: 'checkbox-form__text', value: 'chair', name: 'chair', text: 'Стул для кормления', checked: 'checked'})
        +checkboxForm({groupClass: 'checkbox-form__checkbox-group', inputClass: 'checkbox-form__input', spanClass: 'checkbox-form__text', value: 'bed', name: 'bed', text: 'Кроватка', checked: 'checked'})
        +checkboxForm({groupClass: 'checkbox-form__checkbox-group', inputClass: 'checkbox-form__input', spanClass: 'checkbox-form__text', value: 'tv', name: 'tv', text: 'Телевизор'})
        +checkboxForm({groupClass: 'checkbox-form__checkbox-group', inputClass: 'checkbox-form__input', spanClass: 'checkbox-form__text', value: 'shampoo', name: 'shampoo', text: 'Шампунь'})