.icon-text-list-wrapper
  .icon-text-list
    .icon-text-list__base-form
      .icon-text-list__icon.icon-text-list__icon--insert-emoticon-icon
      .icon-text-list__text Комфорт
      .icon-text-list__text.icon-text-list__text--modded.icon-text-list__text--moved-bottom Шумопоглощающие стены
      .icon-text-list__rectangle
      //-.icon-text-list__base-form.icon-text-list__base-form--moved-top
      .icon-text-list__icon.icon-text-list__icon--location-city-icon
      .icon-text-list__text Удобство
      .icon-text-list__text.icon-text-list__text--modded.icon-text-list__text--moved-bottom Окно в каждой из спален
      .icon-text-list__rectangle