.expandable-checkbox-list-wrapper
  .expandable-checkbox-list
    .expandable-checkbox-list__text expandable checkbox list
    .expandable-checkbox-list__icon
  .expandable-checkbox-list.expandable-checkbox-list--large.expandable-checkbox-list--bottom20
    .expandable-checkbox-list__text expandable checkbox list
    .expandable-checkbox-list__icon.expandable-checkbox-list__icon--expanded.expandable-checkbox-list__icon--moved-bottom
    .expandable-checkbox-list__checkbox-form.checkbox-form
      +input-form({groupClass: 'checkbox-form__checkbox-group', inputClass: 'checkbox-form__input', spanClass: 'checkbox-form__text', type: 'checkbox', value: 'breakfast', name: 'breakfast', text: 'Завтрак'})
      +input-form({groupClass: 'checkbox-form__checkbox-group', inputClass: 'checkbox-form__input', spanClass: 'checkbox-form__text', type: 'checkbox', value: 'table', name: 'table', text: 'Письменный стол', checked: 'checked'})
      +input-form({groupClass: 'checkbox-form__checkbox-group', inputClass: 'checkbox-form__input', spanClass: 'checkbox-form__text', type: 'checkbox', value: 'chair', name: 'chair', text: 'Стул для кормления', checked: 'checked'})
      +input-form({groupClass: 'checkbox-form__checkbox-group', inputClass: 'checkbox-form__input', spanClass: 'checkbox-form__text', type: 'checkbox', value: 'bed', name: 'bed', text: 'Кроватка', checked: 'checked'})
      +input-form({groupClass: 'checkbox-form__checkbox-group', inputClass: 'checkbox-form__input', spanClass: 'checkbox-form__text', type: 'checkbox', value: 'tv', name: 'tv', text: 'Телевизор'})
      +input-form({groupClass: 'checkbox-form__checkbox-group', inputClass: 'checkbox-form__input', spanClass: 'checkbox-form__text', type: 'checkbox', value: 'shampoo', name: 'shampoo', text: 'Шампунь'})