.toggle-button-wrapper
  .toggle-button   
    span.toggle-button__header Toggle
      .toggle-button__container
        .toggle-button-group
          label
            input(type='checkbox', class='toggle-button__group-input', checked)
            span.toggle-button__group-text Получать спецпредложения
      .toggle-button__container
        .toggle-button-group
          label
            input(type='checkbox', class='toggle-button__group-input')
            span.toggle-button__group-text Получать спецпредложения