.radio-buttons-wrapper
  .radio-buttons 
    span.radio-buttons__header Radio Buttons
    .radio-button
      label
        input(type='radio', class='radio-button__circle', name='radio-button', checked)
        span(class='radio-button__text radio-button__text--moved-right component__text') Мужчина
      label
        input(type='radio', class='radio-button__circle', name='radio-button')
        span(class='radio-button__text component__text') Женщина