.radio-buttons-wrapper
  +block-header({blockName: 'radio-buttons', blockNameText: 'radio buttons'})
    +input-form({groupClass: 'radio__group', inputClass: 'radio-button__circle', type: 'radio', spanClass: 'radio-button__text radio-button__text--moved-right component__text', value: 'radio-button', name: 'radio-button', text: 'Мужчина', checked: 'checked'})
    +input-form({groupClass: 'radio__group', inputClass: 'radio-button__circle', type: 'radio', spanClass: 'radio-button__text component__text', value: 'radio-button', name: 'radio-button', text: 'Женщина'})