.rate-button-wrapper
  .rate-button
    .rate-button__base-form
      .rate-button__text rate button
        .rate-button__container  
          .rate-button__stars
            .rate-button__rating
              input(class= 'rating-star' type='radio', value='1', name= '1star')
              input(class= 'rating-star' type='radio', value='2', name= '2star')
              input(class= 'rating-star' type='radio', value='3', name= '3star')
              input(class= 'rating-star' type='radio', value='4', name= '4star', checked)
              input(class= 'rating-star' type='radio', value='5', name= '5star')
          .rate-button__stars.rate-button__stars--right
            .rate-button__rating
              input(class= 'rating-star' type='radio', value='1', name= '1star')
              input(class= 'rating-star' type='radio', value='2', name= '2star')
              input(class= 'rating-star' type='radio', value='3', name= '3star')
              input(class= 'rating-star' type='radio', value='4', name= '4star')
              input(class= 'rating-star' type='radio', value='5', name= '5star', checked)