.textfield-wrapper 
  +textfield({textfieldMod: 'standart, moved-top20', leftText: 'text field', rightText: 'default', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'default', placeholder: 'Email'})
  +textfield({textfieldMod: 'standart, moved-top20', leftText: 'text field', rightText: 'hover/focus', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'hover', placeholder: 'This is pretty awesome'})
  +textfield({textfieldMod: 'standart, moved-top20', leftText: 'dropdown', rightText: 'default', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'dark, dropdown', placeholder: 'Сколько гостей', iconModsClass: 'true'})
  +textfield({textfieldMod: 'standart, moved-top20', leftText: 'masked text field', rightText: 'default', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'default', placeholder: 'ДД.ММ.ГГГГ'})
  +textfield({textfieldMod: 'small, moved-bottom40', leftText: 'date dropdown', inputMod: 'dark, dropdown, small', placeholder: 'ДД.ММ.ГГГГ', iconMod: 'small', id: 'icon-calendar'})
  +textfield({textfieldMod: 'small, right, upper67', leftText: 'date dropdown', inputMod: 'dark, dropdown, small', placeholder: '19.08.2019', iconMod: 'small', id: 'icon-calendar1'})
  +textfield({textfieldMod: 'medium, moved-bottom40', leftText: 'filter date dropdown', inputMod: 'dark, dropdown, medium', placeholder: '19 авг - 23 авг', iconMod: 'medium', id: 'icon-calendar2'})
  +textfield({textfieldMod: 'medium, moved-bottom40', leftText: 'subscription text field', inputMod: 'default, dropdown, medium', placeholder: 'Email', iconMod: 'medium, arrow'})
  .textfield-dropdown-wrapper
    +textfield({textfieldMod: 'medium', leftText: 'dropdown', rightText: 'default', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'dark, dropdown, medium, dropdown-border', placeholder: '2 спальни, 2 кровати...', iconMod: 'medium'})
    +textfield({textfieldMod: 'medium, moved-bottom20', leftText: 'dropdown', rightText: 'expanded', textMod: 'default, moved-right, moved-top, weight-normal', inputMod: 'dark, dropdown, medium, dropdown-border, dropdown-border-color', placeholder: '2 спальни, 2 кровати...', inputId: 'dropdownText', iconMod: 'medium', id: 'dropdown'})
    .dropdown-expanded__rectangle.dropdown-form
      +dropdownForm({titleText: 'спальни', circleNumber: '2', circlePlusMod: 'moved-left'})
      +dropdownForm({titleText: 'кровати', circleNumber: '2', circlePlusMod: 'moved-left'})
      +dropdownForm({titleText: 'ванные комнаты', circleNumber: '0', circleMinusMod: 'disabled', circlePlusMod: 'moved-left'})