.checkbox-buttons-wrapper
  .checkbox-buttons
    .checkbox-buttons__text Checkbox Buttons
      +input-form({groupClass: 'checkbox-buttons__group', inputClass: 'checkbox-buttons__group-input', spanClass: 'checkbox-buttons__group-text', type: 'checkbox', value: 'smoke', name: 'smoke', text: 'Можно курить'})
      +input-form({groupClass: 'checkbox-buttons__group', inputClass: 'checkbox-buttons__group-input', spanClass: 'checkbox-buttons__group-text', type: 'checkbox', value: 'pet', name: 'pet', text: 'Можно с питомцами', checked: 'checked'})
      +input-form({groupClass: 'checkbox-buttons__group', inputClass: 'checkbox-buttons__group-input', spanClass: 'checkbox-buttons__group-text', type: 'checkbox', value: 'guest', name: 'guest', text: 'Можно пригласить гостей (до 10 человек)', checked: 'checked'})