.rate-button-wrapper
  .rate-button
    .rate-button__text rate button
      .rate-button__container  
        .rating
          input(class= 'rating__star', type='radio', name= 'star', id='star1')
          label(class= 'rating__label', for='star1')
          input(class= 'rating__star', type='radio', name= 'star', id='star2', checked)
          label(class= 'rating__label', for='star2')
          input(class= 'rating__star', type='radio', name= 'star', id='star3')
          label(class= 'rating__label', for='star3')
          input(class= 'rating__star', type='radio', name= 'star', id='star4')
          label(class= 'rating__label', for='star4')
          input(class= 'rating__star', type='radio', name= 'star', id='star5')
          label(class= 'rating__label', for='star5')
        .rating.rating--right
          input(class= 'rating__star', type='radio', name= 'star1', id='star6', checked)
          label(class= 'rating__label', for='star6')
          input(class= 'rating__star', type='radio', name= 'star1', id='star7')
          label(class= 'rating__label', for='star7')
          input(class= 'rating__star', type='radio', name= 'star1', id='star8')
          label(class= 'rating__label', for='star8')
          input(class= 'rating__star', type='radio', name= 'star1', id='star9')
          label(class= 'rating__label', for='star9')
          input(class= 'rating__star', type='radio', name= 'star1', id='star0')
          label(class= 'rating__label', for='star0')