.pagination-wrapper
  span.pagination pagination
    .pagination__shortcuts
      a.active(href='#') 1
      a(href='#') 2
      a(href='#') 3
      a(href='#') ...
      a(href='#') 15
      a.btn-next(href='#')
      span.pagination__text 1 – 12 из 100+ вариантов аренды