.rich-checkbox-buttons
    +text({main: 'rich-checkbox-buttons__text', title: 'Rich Checkbox Buttons'})
    .rich-checkbox-buttons__group
      +input({class: 'rich-checkbox-buttons__group_input', type: 'checkbox', value: 'hall', name: 'hall'})
      .rich-checkbox-buttons__group-text
        +text({main: 'rich-checkbox-buttons__group-text_text', title: 'Широкий коридор'})
        +text({main: 'rich-checkbox-buttons__group-text_text1', title: 'Ширина коридоров в номере не менее 91 см.'})
      +input({class: 'rich-checkbox-buttons__group_input', type: 'checkbox', value: 'helper', name: 'helper'})
      .rich-checkbox-buttons__group-text
        +text({main: 'rich-checkbox-buttons__group-text_text', title: 'Помощник для инвалидов'})
        +text({main: 'rich-checkbox-buttons__group-text_large', title: 'На 1 этаже вас встретит специалист и проводит до номера.'})
