.n840-wrapper
  .n840
    .n840__base-form.base-form-style
      .n840__image
      .n840-slider-left-wrapper
        .n840__slider-icon.n840__slider-icon--left
      .n840-slider-right-wrapper
        .n840__slider-icon
      .n840-checkbox-wrapper1
        input(class= "n840__checkbox-point",type="radio", name= 'n840-checkbox')
      .n840-checkbox-wrapper2
        input(class= "n840__checkbox-point",type="radio", name= 'n840-checkbox')
      .n840-checkbox-wrapper3
        input(class= "n840__checkbox-point",type="radio", name= 'n840-checkbox')
      .n840-checkbox-wrapper4
        input(class= "n840__checkbox-point",type="radio", name= 'n840-checkbox', checked)
    .n840__info.info-n840
      .info-n840__number № 840
      .info-n840.component__text.info-n840__price 9 990₽ в сутки
      .info-n840__solid-line
      .info-n840__stars
        fieldset.stars
          .rating-stars
            input(class= 'rating-star' type='radio', value='1', name= '1star')
            input(class= 'rating-star' type='radio', value='2', name= '2star')
            input(class= 'rating-star' type='radio', value='3', name= '3star', checked)
            input(class= 'rating-star' type='radio', value='4', name= '4star')
            input(class= 'rating-star' type='radio', value='5', name= '5star')
      .info-n840.component__text.info-n840__feedback 65 Отзывов