- var variables = require('./variables/variables-cards.json')

doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="cards-styles.css")
    title Cards
  body
    include ../../../content/mixins/mixin-button/mixin-button.pug
    include ../../../content/mixins/mixin-input/mixin-input.pug
    include ../../../content/mixins/mixin-form/mixin-form.pug
    include ../../../content/mixins/mixin-text/mixin-text.pug
    include ../../../content/mixins/mixin-textfield/mixin-textfield.pug
    include ../../../content/blocks/logo/main-logo.pug
    include ../../../content/components/cards-search/cards-search.pug
    include ../../../content/components/cards-number888/cards-number888.pug
    include ../../../content/components/cards-calendar/cards-calendar.pug
    include ../../../content/components/cards-registration/cards-registration.pug
    include ../../../content/components/cards-login/cards-login.pug
    include ../../../content/components/cards-n888/cards-n888.pug
    include ../../../content/components/cards-n840/cards-n840.pug
    include ../../../content/blocks/star-rating/star-rating.pug