- var variables = require('./variables/variables.json')

doctype html
html
  head
    meta(charset="utf-8")
    link(href="style.css" rel="stylesheet" media="screen")
    title Colors & Types
  body
    include ../../../content/blocks/logo/main-logo.pug
    include ../../../content/blocks/rectangle/rectangle.pug
    include ../../../content/blocks/text/text.pug
