mixin colors-types-text({tagClass, tagText, textClass, text}={})

  div(class= tagClass)=tagText
    span(class= textClass)=text


//-+colors-types-text({tagClass: '', tagText: '', textClass: '', text: ''})