%material-icons {
  display: inline-block;
  direction: ltr;
  text-transform: none;
  text-rendering: optimizeLegibility;
  line-height: 1;
  letter-spacing: normal;
  white-space: nowrap;
  word-wrap: normal;
  font-family: 'Material Icons';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga';
}

.icon {
  box-sizing: border-box;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: $button-heght;
  text-align: center;
  font-size: $font-size;
  user-select: none;

  &--arrow {
     position: relative;
     width: 0px;
     color: rgba(31, 32, 65, 0.5);
     font-family: 'Quicksand';

     &:after {
        position: absolute;
        z-index: 5;
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(270deg);
        right: 10px;
        content: 'arrow_back_ios';
        @extend %material-icons;
      }
   }
}