.bullet-list {
    width: 242px;
    height: 147px;
    margin: 150px 0px 0px 979px;
  }
  
  .bullet-list__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  
  ul li {
    color: rgba(31, 32, 65, 0.25);
    margin-left: -20px;
  }
  
  ul li h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    width: 240px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }