.rich-checkbox-buttons {
  width: 266px;
  height: 145px;
  margin: 88px 0px 0px 587px;
}

.rich-checkbox-buttons__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.rich-checkbox-buttons__group {
  width: 210px;
  height: 20px;
  //margin: 0px 0px 0px 0px;
}

.rich-checkbox-buttons__group_input {
  width: 20px;
  height: 20px;
  margin: 12px 0px 10px 0px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.rich-checkbox-buttons__group-text_text {
  margin: -38px 0px 0px 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}

.rich-checkbox-buttons__group-text_text1 {
  margin: 0px 0px 0px 40px;
  width: 160px;
  height: 28px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
}

.rich-checkbox-buttons__group-text_large {
  margin: 0px 0px 0px 40px;
  width: 190px;
  height: 28px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
}
