.footer-wedgets-copywrite-bar-wrapper
  .footer-wedgets-copywrite-bar
    .footer-wedgets-copywrite-bar__logo.logo-main
      .logo-main__icon.logo-main__icon--colored
      .logo-main__text.logo-main__text--toxin
    .footer-wedgets-copywrite-bar__text-under-logo Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    .footer-wedgets-copywrite-bar__wrapper-navigation
      +list({"main": "footer-wedgets-copywrite-bar__menu b-menu-mod", "title": "Title text", "items": [{"title": "Navigation", "class": "list__item-m list__item-m--uppercased-text"}, {"title": "About Us", "class": "list__item-m"}, {"title": "News", "class": "list__item-m"}, {"title": "Support", "class": "list__item-m"}, {"title": "Products", "class": "list__item-m"} ] } )
    .footer-wedgets-copywrite-bar__wrapper_about-us 
      +list({"main": "footer-wedgets-copywrite-bar__menu b-menu-mod", "title": "Title text", "items": [{"title": "ABOUT US", "class": "list__item-m list__item-m--uppercased-text"}, {"title": "Who we are", "class": "list__item-m"}, {"title": "Our team", "class": "list__item-m"}, {"title": "Careers", "class": "list__item-m"}, {"title": "Investors", "class": "list__item-m"} ] } )
    .footer-wedgets-copywrite-bar__wrapper_Support 
      +list({"main": "footer-wedgets-copywrite-bar__menu b-menu-mod", "title": "Title text", "items": [{"title": "Support", "class": "list__item-m list__item-m--uppercased-text"}, {"title": "Documentation", "class": "list__item-m"}, {"title": "Community", "class": "list__item-m"}, {"title": "Get in Touch", "class": "list__item-m"} ] } )  
    .footer-wedgets-copywrite-bar__text-subscribe Subscribe to our newsletter
    .footer-wedgets-copywrite-bar__text-receive Receive our latest news and promotions in your inbox!
    .footer-wedgets-copywrite-bar-input-wrapper
      .footer-wedgets-copywrite-bar__input.input-with-icon
        input(class='input-with-icon__input', type= 'text', placeholder='Your email address')
        .input-with-icon__icon
  .footer-wedgets-copywrite-bar__wrapper
    .footer-wedgets-copywrite-bar__copywrite-bar.copywrite-bar
      .copywrite-bar__text.text-mod Copyright © 2018 Toxin UI Kit. All rights reserved.
      .copywrite-bar__social-buttons.social-buttons-bar
        .social-buttons-bar__icon.social-buttons-bar__icon--twitter
        .social-buttons-bar__icon.social-buttons-bar__icon--facebook
        .social-buttons-bar__icon.social-buttons-bar__icon--instagram