doctype html
html
  head
    meta(charset="utf-8")
    link(href="heaers-footers-styles.css" rel="stylesheet" media="screen")
    title Headers & Footers Page
  body(class='page')
    include ../../../content/mixins/mixin-list/mixin-list.pug
    include ../../../content/mixins/mixin-button/mixin-button.pug
    include ../../../content/blocks/logo/main-logo.pug
    include ../../../content/components/standart-nav-bar/standart-nav-bar.pug
    include ../../../content/components/standart-logged-in-nav-bar/standart-logged-in-nav-bar.pug
    include ../../../content/components/footer-wedgets-copywrite-bar/footer-wedgets-copywrite-bar.pug
    include ../../../content/components/footer-creative/footer-creative.pug
