.standart-logged-in-nav-bar-wrapper
  .standart-logged-in-nav-bar
    .standart-logged-in-nav-bar__logo.logo-main
      .logo-main__icon.logo-main__icon--colored
      .logo-main__text.logo-main__text--toxin
    +list({"main": "standart-nav-bar__menu b-menu-m", "title": "Title text", "items": [{"title": "Home", "class": "list__item list__item--font-weight-bold"}, {"title": "About Us", "class": "list__item"}, {"title": "Services", "class": "list__item list__item--moved-right"}, {"title": "Careers", "class": "list__item"}, {"title": "News", "class": "list__item"}, {"title": "Documentation", "class": "list__item"} ] } )
    .standart-logged-in-nav-bar__icon.icon-extra
      .icon-extra__icon.icon-extra__icon--expand-more
    .standart-logged-in-nav-bar__rectangle
    .standart-logged-in-nav-bar__user-name Cosmin Negoita