.input {
  color: rgba(31, 32, 65, 0.25);
  padding: 15px;
  /*font-family: Montserrat;
  font-style: normal;
  font-weight: normal;*/
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  cursor: text;

  &:hover {
    color: rgba(31, 32, 65, 1);
  }
}
