doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="index.css")
    title Index
  body
    div Текст
    a Текст
    img(src=require('./content/img/n888.png').default, width='250px', height='151px')
    .image